@import "tailwindcss";

@theme {
  --color-projectHolder: #1e40af;
  --color-projectHolder-hover: #1e3a8a;
  --color-professional: #0d9488;
  --color-professional-hover: #0f766e;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white !important;
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
}